.gradle
/build
app/build
app/libs
app/app.iml
app/proguard-rules.pro
gradlew
Reader.iml
settings.gradle
local.properties
gradlew.bat
gradle.properties
.idea
gradle
app/src/androidTest
volley
app/src/main/java/com/winsonchiu/reader/ApiKeys.java
app/src/main/res/values/strings_ignore.xml
app/crashlytics.properties