<?xml version="1.0" encoding="utf-8"?>
<!-- ~ Copyright 2015 Winson Chiu -->
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.winsonchiu.reader" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" android:maxSdkVersion="22" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" android:maxSdkVersion="22" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" android:maxSdkVersion="22" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" android:maxSdkVersion="22" />

    <!-- TODO: Add RTL support (mostly animations)-->
    <application
        android:name=".CustomApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        >

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="ffde8327e4ffacbe347101a90afc33a9fec234cb" />

        <activity
            android:name=".ActivityMain"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/AppDefaultThemeTranslucent"
            >

        </activity>

        <activity
            android:name=".ActivityMainRoot"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/AppDefaultTheme"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- HTTP -->

                <data
                    android:scheme="http"
                    android:host="reddit.com"
                    android:pathPrefix="/r/"
                    />

                <data
                    android:scheme="http"
                    android:host="reddit.com"
                    android:pathPrefix="/u/"
                    />

                <data
                    android:scheme="http"
                    android:host="reddit.com"
                    android:pathPrefix="/user/"
                    />

                <data
                    android:scheme="http"
                    android:host="reddit.com"
                    android:pathPrefix="/comments/"
                    />

                <data
                    android:scheme="http"
                    android:host="m.reddit.com"
                    android:pathPrefix="/r/"
                    />

                <data
                    android:scheme="http"
                    android:host="m.reddit.com"
                    android:pathPrefix="/u/"
                    />

                <data
                    android:scheme="http"
                    android:host="m.reddit.com"
                    android:pathPrefix="/user/"
                    />

                <data
                    android:scheme="http"
                    android:host="m.reddit.com"
                    android:pathPrefix="/comments/"
                    />

                <data
                    android:scheme="http"
                    android:host="i.reddit.com"
                    android:pathPrefix="/r/"
                    />

                <data
                    android:scheme="http"
                    android:host="i.reddit.com"
                    android:pathPrefix="/u/"
                    />

                <data
                    android:scheme="http"
                    android:host="i.reddit.com"
                    android:pathPrefix="/user/"
                    />

                <data
                    android:scheme="http"
                    android:host="i.reddit.com"
                    android:pathPrefix="/comments/"
                    />

                <data
                    android:scheme="http"
                    android:host="np.reddit.com"
                    android:pathPrefix="/r/"
                    />

                <data
                    android:scheme="http"
                    android:host="np.reddit.com"
                    android:pathPrefix="/u/"
                    />

                <data
                    android:scheme="http"
                    android:host="np.reddit.com"
                    android:pathPrefix="/user/"
                    />

                <data
                    android:scheme="http"
                    android:host="np.reddit.com"
                    android:pathPrefix="/comments/"
                    />

                <data
                    android:scheme="http"
                    android:host="www.reddit.com"
                    android:pathPrefix="/r/"
                    />

                <data
                    android:scheme="http"
                    android:host="www.reddit.com"
                    android:pathPrefix="/u/"
                    />

                <data
                    android:scheme="http"
                    android:host="www.reddit.com"
                    android:pathPrefix="/user/"
                    />

                <data
                    android:scheme="http"
                    android:host="www.reddit.com"
                    android:pathPrefix="/comments/"
                    />

                <!-- HTTPS -->

                <data
                    android:scheme="https"
                    android:host="reddit.com"
                    android:pathPrefix="/r/"
                    />

                <data
                    android:scheme="https"
                    android:host="reddit.com"
                    android:pathPrefix="/u/"
                    />

                <data
                    android:scheme="https"
                    android:host="reddit.com"
                    android:pathPrefix="/user/"
                    />

                <data
                    android:scheme="https"
                    android:host="reddit.com"
                    android:pathPrefix="/comments/"
                    />

                <data
                    android:scheme="https"
                    android:host="m.reddit.com"
                    android:pathPrefix="/r/"
                    />

                <data
                    android:scheme="https"
                    android:host="m.reddit.com"
                    android:pathPrefix="/u/"
                    />

                <data
                    android:scheme="https"
                    android:host="m.reddit.com"
                    android:pathPrefix="/user/"
                    />

                <data
                    android:scheme="https"
                    android:host="m.reddit.com"
                    android:pathPrefix="/comments/"
                    />

                <data
                    android:scheme="https"
                    android:host="i.reddit.com"
                    android:pathPrefix="/r/"
                    />

                <data
                    android:scheme="https"
                    android:host="i.reddit.com"
                    android:pathPrefix="/u/"
                    />

                <data
                    android:scheme="https"
                    android:host="i.reddit.com"
                    android:pathPrefix="/user/"
                    />

                <data
                    android:scheme="https"
                    android:host="i.reddit.com"
                    android:pathPrefix="/comments/"
                    />

                <data
                    android:scheme="https"
                    android:host="np.reddit.com"
                    android:pathPrefix="/r/"
                    />

                <data
                    android:scheme="https"
                    android:host="np.reddit.com"
                    android:pathPrefix="/u/"
                    />

                <data
                    android:scheme="https"
                    android:host="np.reddit.com"
                    android:pathPrefix="/user/"
                    />

                <data
                    android:scheme="https"
                    android:host="np.reddit.com"
                    android:pathPrefix="/comments/"
                    />

                <data
                    android:scheme="https"
                    android:host="www.reddit.com"
                    android:pathPrefix="/r/"
                    />

                <data
                    android:scheme="https"
                    android:host="www.reddit.com"
                    android:pathPrefix="/u/"
                    />

                <data
                    android:scheme="https"
                    android:host="www.reddit.com"
                    android:pathPrefix="/user/"
                    />

                <data
                    android:scheme="https"
                    android:host="www.reddit.com"
                    android:pathPrefix="/comments/"
                    />

            </intent-filter>
        </activity>

        <receiver
            android:name=".inbox.Receiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="com.winsonchiu.reader.inbox.Receiver.INTENT_INBOX" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".settings.ActivitySettings"
            android:label="@string/title_activity_activity_settings"
            android:parentActivityName=".ActivityMain" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ActivityMain" />
        </activity>

        <activity
            android:name=".auth.ActivityLogin"
            android:label="@string/title_activity_activity_login" >
        </activity>

        <service
            android:name=".auth.ServiceAuthenticator"
            android:enabled="true"
            android:exported="true"
            >

            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator"
                />

        </service>

    </application>

</manifest>
